@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --fwc-color-1: #1A247D;
    --fwc-color-2: #B0EA00;
    --fwc-color-3: #D60000;
    --fwc-color-4: #B387FF;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: FWC2026, Arial, Helvetica, sans-serif;
    --font-stretch: normal;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    background-image: url('/img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    color: var(--foreground);
    font-stretch: var(--font-stretch);
    font-weight: 400;
}

.glass-card {
    @apply rounded-3xl shadow-xl/20 backdrop-blur-xl px-8 py-8;

    background: rgba(0, 0, 0, 0.5);
}

.queer-title {
    text-shadow:
        0 -5px 0 var(--fwc-color-1),
        5px 0 0px var(--fwc-color-2),
        0 5px 0px var(--fwc-color-3),
        -5px 0px 0px var(--fwc-color-4);
}